body {
    font-family: helvetica, sans-serif;
  }
  
  fieldset {
    min-height: 200px;
  }
  
  .standard-label, .standard-input {
      display: block;
  }
  
  .standard-label {
    margin-bottom: 20px;
  }
  
  .standard-input, .standard-select {
    margin-top: 10px;
    border: 3px lightsteelblue solid;
    border-radius: 5px;
    padding: 2px;
  }
  
  .standard-input {
    height: 25px;
    width: 250px;
    font-size: 1em;
  }
  
  .standard-select {
    height: 32px;
    width: 150px;
    font-size: 1em;
  }
  
  #account-select {
    width: 260px;
  }
  
  .container {
    width: 70%;
    max-width: 800px;
    margin: 0 auto;
    border: 1px black solid;
    padding: 10px;
    background-color: lightsteelblue; 
  }
  
  .sub-container {
    padding-left: 10px;
    background-color: white;
    margin: 10px auto;
  }
  
  .required {
    font-size: 1.5em;
    color: red;
  }
  
  .small-heading {
    font-size: 18px;
  }
  
  .radio-label {
    font-size: 20px;
    margin: 0 40px;
  }
  
  .radio-input {
    margin-bottom: 25px;
  }
  
  button {
    border: 2px black solid;
    background-color: lightsteelblue;
    border-radius: 5px;
    margin: 0 auto;
    height: 35px;
    width: 150px;
    font-size: 20px;
  }
  input[type="date"]::-webkit-calendar-picker-indicator {
      color: rgba(0, 0, 0, 0);
      opacity: 1;
      display: block;
      background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png) no-repeat;
      width: 20px;
      height: 20px;
      border-width: thin;
  }
  
  #login {
    float: justify;
  }
  
  #signup {
    float: justify;
  }
  
  #basic-details {
    display: none;
  }
  
  #logindetails {
    display: none;
  }
  
  #loginapp {
    display: none;
    float: right;
  }
  
  #show-address {
    display: none;
    float: right;
  }
  #show-otp {
    display: none;
    float: right;
  }
  
  #resend-otp {
    display: none;
    float: right;
  }
  
  #address-history {
    display: none;
  }
  
  #otp-check {
    display: none;
  }
  
  #non-uk {
    display: none;
    text-align: center;
    font-size: 25px;
    color: red;
  }
  
  #current-address {
    display: none;
  }
  
  #previous-address {
    display: none;
  }
  
  #document-upload {
    display: none;
    float: right;
  }
  #photo-upload {
    display: none;
    float: right;
  }
  #adhaar-upload {
    display: none;
    float: right;
  }
  
  #get-consent {
    display: none;
    float: right;
  }
  
  #your-consent {
    display: none;
  }
  
  #document-section {
    display: none;
  }
  
  #info-request {
    display: none;
  }
  
  #submit-app {
    display: none;
    border: 2px black solid;
    background-color: lightsteelblue;
    border-radius: 5px;
    margin: 15px auto;
    height: 35px;
    width: 180px;
    font-size: 20px;
    float: right;
  }
  
  input[type="checkbox"] {
    height: 50px;
    width: 30px;
    margin-top: 20px;
    margin-left: 45px;
  }
  /** Media Queries **/
  
  @media screen and (max-width: 1100px) {
    
    h1 {
      font-size: 24px; 
    }
    
    h2 {
      font-size: 24px;
    }
    .container {
      width: 95%;
    }
  }
  